TareasTema3/ejercicio3/ejercicio3.dtd

<!ELEMENT listacursos (curso+)>
<!ELEMENT curso (alumno+)>
<!ELEMENT alumno (dni, nombre, ap1, ap2?, listaasignaturas)>
    <!ELEMENT dni (#PCDATA)>
    <!ELEMENT listaasignaturas (asignatura+)>
        <!ELEMENT asignatura (nombre, profesor)>
            <!ELEMENT profesor (nrp, nombre, ap1, ap2?)>
                <!ELEMENT nrp (#PCDATA)>
            <!ATTLIST asignatura codigo CDATA #REQUIRED>
    
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT ap1 (#PCDATA)>
    <!ELEMENT ap2 (#PCDATA)>