TareasTema3/ejercicio5/ejercicio5_3.dtd

<!ELEMENT ligafutbol (partido+)>
<!ELEMENT partido (local, visitante)>
<!ELEMENT local (#PCDATA)>
    <!ATTLIST local nombre CDATA #REQUIRED>
    <!ATTLIST local goles CDATA #REQUIRED>
<!ELEMENT visitante (#PCDATA)>
    <!ATTLIST visitante nombre CDATA #REQUIRED>
    <!ATTLIST visitante goles CDATA #REQUIRED>
